
html {
	margin: 0;
	padding: 0;
	color:black;
}
body {
	font-family: Open Sans,Geneva,sans-serif;
	line-height: 1.46;
	font-style: normal;
	color:black;
	
}
h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 2em;
	font-weight: normal;
	font-style: italic;
	margin: 0 0 .4em;
	color: rgb(8, 44, 187);
	background-color: rgb(44, 45, 140);
	padding: 5px 10px;
}
p {
	font-size: 1rem;
	font-weight: bold;
	line-height: 1.1;
}
img {
    float: right;
    width: 30%;
    margin: 10pt;
}

.gradient {
	/* Primeiro passo: definir um degradê como fundo */
	background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
	
	/* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
	background-clip: text;
	-webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */
  
	/* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
	-webkit-text-fill-color: transparent;
  
	/* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
	color: black;
	
  }